*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines what 1rem is
    font-size: 62.5%;           // default is 1rem: 1 rem = 10px; 10px/16px = 62.5%

    // @include respond(phone) {
    //     font-size: 50%;         
    // }


    // Сначала max-width: 1200px, потому что иначе для max-width: 900px будет применяться то же правило, что и для max-width: 1200px
    @include respond(tab-land) {
        font-size: 56.25%;         // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%;         // 1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%;         // 1rem = 12, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 1.5rem;

    @include respond(tab-port) {
        padding: 0;
    }
}